.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  text-align: center;
}

.welcome-msg {
  text-align: center;
}

.custom-card {
  margin-bottom: 2%;
  margin-top: 5%;
  transition: transform .5s ease;
}

.card-img-overlay {
  margin-top: 70%;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  transition: background-color .5s ease;
}

.card-img-overlay:hover {
  background-color: chocolate;
  opacity: .8;
}

.card-title {
  font-style: italic;
}

.custom-spacing {
  align-items: center;
  justify-content: center;
  margin-left: 25%;
}

.row-cards {
  padding-left: 4%;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
