
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  text-align: center;
}

.welcome-msg {
  text-align: center;
}

.custom-card {
  margin-bottom: 2%;
  margin-top: 5%;
  transition: transform .5s ease;
}

.card-img-overlay {
  margin-top: 70%;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  transition: background-color .5s ease;
}

.card-img-overlay:hover {
  background-color: chocolate;
  opacity: .8;
}

.card-title {
  font-style: italic;
}

.custom-spacing {
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  margin-top: 3%;
  margin-bottom: 5%;
  border-radius: 20px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://png2.cleanpng.com/sh/0f7d8700012d42e5040eafbf2e38ed17/L0KzQYm3VME1N5NnfZH0aYP2gLBuTgJqa5wyi9N3Y3join70jCJ1gV54hdt9aD35cbTolPlwdl5red9ybImwccP7TgJqa5wyedDtLX3ygsXCTcVibGM7eqNqN0G3RrO7TsI1O2QAUKsEMUW1Q4i6WcQyQGU7TJD5bne=/kisspng-rick-sanchez-morty-smith-vacation-family-art-rick-and-morty-5ad26b1a7146b4.243398991523739418464.png');
  background-color: rgb(0, 159, 255);
  background-position: center;
  background-repeat: repeat, repeat;
  background-size: unset;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-cards {
  padding-left: 4%;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.character-profile-img {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-img-container {
  margin: 1% 1% 1% 1%;;
}

.character-profile-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.character-profile-name-text {
  /* font-family: 'Frijole', cursive; */
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 3em;
  text-decoration: underline;
  margin-bottom: 2%;
}

.detail-list {
  list-style-type:none;
  width: 90%;
}

p {
  font-family: 'Passion One', cursive;
  transition: color .5s ease;
}

p:hover {
  color: cornflowerblue;
}

.detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.mutual-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.custom-font-h5 {
  font-size: 2em;
  text-decoration: none;
}


.poster {
  width: 10vw;
  height: 10vh;
}

.navtopbar {
  display: flex;
  top: 0;
  z-index: 1;
  background-color: #0087ff;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* opacity: .85; */
}

.fav-btn-detail {
  margin-bottom: 1%;
  margin-top: 1%;
}

.name-and-fav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 90%;
  
}

.footer-container {
    display: flex;
    bottom: 0;
    z-index: 1;
    background-color: #0087ff;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1em;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* opacity: .85; */
}

.custom-minitopbar {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  right: 2%;
  margin-top: 2%;
  position: fixed;
  border-radius: 5px;
  transition: transform .5s ease;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.favourite-container {
    border-radius: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column  ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    left: 2%;
    width: 15%;
    margin-top: 2%;
    max-width: 15%;
    position: fixed;
    border-radius: 5px;
    transition: transform .5s ease;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.fav-img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.fav-img {
  width: 3vw;
  margin-top: 1%;
  transition: transform .5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fav-img:hover {
  transform: scale(1.05);
}


.fav-icon {
  width: 15vw;
  height: 25vh;
  padding-bottom: 0;
}

.size-favourite-text {
  font-size: xx-large;
}

.custom-minitopbar:hover {
  transform: scale(1.05
  );
}

.filter-type {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter-image {
  width: 12vw;
}

.details-content-left {
  margin: 1% 1% 1% 1%;
  padding-left: 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mutual-chars-img {
  width: 5vw;
  margin: .5% .5% .5% .5%;
  border-radius: 50px;
  transition: transform .5s ease;
}

.mutual-chars-img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(2.9, 8.5, 1.9, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mutual-chars-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.parallelogram {
  width: 100%;
  height: 3vh;
  transform: skew(-15deg);
  padding-left: 1em;
  margin-bottom: .5em;
  background: rgba(0, 0, 0, 0.2);
  transition: scale .5 ease;
}

.parallelogram:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 250, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-area
{
	top: 45%;
  left: 50%;
  margin-top: 10%;
	transform: translate(-50%, -50%);
  position: relative;
  
}

.img-wrapper
{
	width: 300px;
	height: 400px;
	position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4em 8em 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 400px;
	width: 300px;
	filter: grayscale(100%);
	transition: 2s;
}
.img-wrapper:hover img
{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.img-wrapper h2
{
	background: tomato;
	font-family: Poppins;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li
{
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3)
{
	transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4)
{
	transition-delay: 1s;
}

.img-wrapper ul li a
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i:hover
{
	color: #fff;
	background: rgba(255,255,255,0);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
